<header class = head>
  <div>
		<%= link_to "Houssam Yassin", root_path, id: "logo" %>
		<nav>
		  <ul class= "head">
		    <li><%= link_to "Home",      root_path %></li>
		    <li><%= link_to "About",     about_path %></li>
		    <li><%= link_to "Blog",      blog_path %></li>
		    <li><%= link_to "Projects",  projects_path %></li>
		  </ul>
		</nav>
  </div>
</header>