<!DOCTYPE html>
<<<<<<< HEAD
<<<<<<< HEAD
<%= render 'layouts/shim'%>
<head>
	<title><%= full_title(yield(:title))%></title>
    <%= csrf_meta_tags %>

    <%= render 'layouts/fonts'%>
	<%= render 'layouts/style_links'%>
	<%= render 'layouts/javascript_includes'%>
	<%= render 'layouts/shim2'%>
	
=======
=======
>>>>>>> f5e8db45875bb0ddf80c8d6846d3106ae9aa7a6f
<%= stylesheet_link_tag    "application",
							media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<%= render 'layouts/shim' %>
<head>
    <meta charset="UTF-8">
    <title><%= full_title(yield(:title)) %></title>
	<%= render 'layouts/stylelinks' %>
<<<<<<< HEAD
>>>>>>> f5e8db45875bb0ddf80c8d6846d3106ae9aa7a6f
=======
>>>>>>> f5e8db45875bb0ddf80c8d6846d3106ae9aa7a6f
</head>
<body>

<div class="container">
<<<<<<< HEAD
<<<<<<< HEAD
	
=======
>>>>>>> f5e8db45875bb0ddf80c8d6846d3106ae9aa7a6f
=======
>>>>>>> f5e8db45875bb0ddf80c8d6846d3106ae9aa7a6f
	<%= render 'layouts/header'%>

<%= yield %>

</div>  <!-- End Container -->

<<<<<<< HEAD
<<<<<<< HEAD
<%= render 'layouts/page_end_scripts'%>

</body>
</html>
=======
<%= render 'layouts/scripts'%>

</body>
</html>
>>>>>>> f5e8db45875bb0ddf80c8d6846d3106ae9aa7a6f
=======
<%= render 'layouts/scripts'%>

</body>
</html>
>>>>>>> f5e8db45875bb0ddf80c8d6846d3106ae9aa7a6f
